# ignore everything
/*
/*/

# ... but these:
!/.Xmodmap
!/.gitignore
!/README.md
!/atuin/
!/borders/
!/bspwm/
!/ghostty/
!/hammerspoon/
!/helix/
!/i3/
!/joshuto/
!/kitty/
!/my-app-use-in-manjaro.md
!/polybar/
!/scripts/
!/sketchybar/
!/skhd/
!/swiftbar/
!/sxhkd/
!/tool/
!/wallpaper/
!/yabai/
!/yazi/
!/zsh-vi-mode/
!/zsh/

.DS_Store
